$cream: #E8D1A4;
$orange--medium: #B85A43;
$orange--dark: #934835;

$black: #1E1E1E;
$black--transparent: rgba(30, 30, 30, 0.4);
$grey: #333333;
$white: #FFFFFF;

$primaryColour: $cream;
$secondaryColour: $orange--medium;
$tertiaryColour: $orange--dark;

$gridColumns: 12;
$gridMaxWidth: 1000px;
